
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(165, 206, 195);

}

.title{
    color: rgb(42, 89, 165);
    background-color: rgb(69, 184, 147);
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    padding: 6px;
    border: double darkgreen 7px;

}

.ing, .stp{
    color: greenyellow;
    background-color: rgb(1, 87, 31);
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    border: solid black 5px;
    padding: 10px;


}

.ing.sub-title{
    color: yellow;
    background-color: red;
    text-align: center;
    font-weight: bolder;
    font-size: 23px;

}

.subtitle{
    color: yellow;
    background-color: rgb(11, 171, 101);
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    border: solid black 4px;
    margin: 20px 100px;

}

.description{
    background-color: aliceblue;
    color: black;
    border: dotted darkgreen 6px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
    margin: 20px

}


.list{
    background-color: aliceblue;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 18px;

}

.links{
    background-color: lightblue;
    border: 10px;
    margin: 8px 300px;
    padding: 10px;
    border: solid black 5px;
    display: block;

}